<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.vutbr.fit.tam"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.READ_CALENDAR"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />    

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
    
            <activity android:name=".activity.CleverAlarm" android:label="@string/app_name">
            	<intent-filter>
                	<action android:name="android.intent.action.MAIN" />
                	<category android:name="android.intent.category.LAUNCHER" />
            	</intent-filter>
        	</activity>
    
		<receiver android:name=".widget.CleverAlarmWidgetProvider" >
    		<intent-filter>
        		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
    		</intent-filter>
    		<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider" />
		</receiver>
            
        <activity android:name=".activity.Settings" />
        <activity android:name=".activity.CalendarsSettings" />
        <activity android:name=".activity.DayAlarm" />
        <activity android:name=".activity.DayInfoTab" />
        <activity android:name=".activity.Sleepmode" />
        <activity android:name=".activity.Day" />
        <activity android:name=".activity.TimeformatSettings" />    
        
        <service android:name=".widget.WidgetUpdateServise"></service>
        
        <receiver android:name=".alarm.AlarmBootReceiver">
      		<intent-filter>
        		<action android:name="android.intent.action.BOOT_COMPLETED" />
      		</intent-filter>
    	</receiver>
    	<receiver android:name=".alarm.AlarmLauncher"></receiver>
    	<receiver android:name=".calendar.CalendarChecker"></receiver>
    	<receiver android:name=".sleep.SleepLauncher"></receiver>
    	<activity android:name=".activity.RingtonesSettings"></activity>
    	<activity android:name=".activity.Ringing"></activity>

    </application>
    

    
</manifest>